*{
    overflow-y: hidden;
    overflow-x: hidden;
}
h1{
    color: orange; 
    margin: 1vw;
}

.inputIndex{
    padding: 5px;
    border-radius: 5px;
    margin-left: 1vw;
    margin-bottom: 2vw;
}

#formLogin{
    background-color: lightgray;
    padding: 2vw;
    margin-right: 50%;
    margin-left: 2vw;
    margin-top: 2vw;
    border-radius: 25px;
    border: solid 2px black;
}

#email, #password{
    border-radius: 5px;
    outline: 0;
}

#emailLabel, #passwordLabel{
    font-weight: bold;
    font-size: larger;
    display: block;
    text-decoration: underline;
}

#sub{
    width: 6vw;
    border-radius: 5px;
    outline: 0;
    margin-top: 1vw;
}

.formDiv{
    padding-top: 1%;
    display: block;
}

#pb{
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

#file{
    display: block;
    padding: 1%;
}

.button{
    margin: 1%;
    padding: 1%;
    display: block;
}

